.person-details {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    padding: 14px;
}

.person-details .person-image {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

.person-details .list-group-item {
    padding: 6px;
}

.person-details .list-group-item .term{
    margin-right: 8px;
}

@media (min-width: 768px) {
    .person-details {
        margin-top: 0;
    }
}
